<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ak.reikitimer"
    android:versionCode="5"
    android:versionName="1.6" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />
            <instrumentation android:name="android.test.InstrumentationTestRunner"
            android:functionalTest="true"
    android:targetPackage="com.ak.reikitimer"/>
  
            <!--  for in mobi -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> 
   <!--  <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />--> 
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-feature android:name="android.hardware.screen.portrait"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_clock2"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <uses-library android:name="android.test.runner" />

        <activity
            android:name="com.ak.ui.MainActivity"
            android:launchMode="singleTask"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="com.ak.service.ControllerService">
            
        </service>
        <receiver 
            android:name="com.ak.timer.TimerExpiredReceiver">
            
        </receiver>

    </application>

</manifest>
